body {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
}
@media (max-width: 1600px) {
  body {
    margin: 0;
  }
}
.main-canvas-wrapper {
  display: flex;
  align-items: flex-end;
}
.lines-wrapper {
  text-align: center;
}
.lines-number {
  color: white;
  font-family: "Press Start 2P";
}
.right-statistics-wrapper {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 16px;
}
.top-score-text {
  color: white;
  font-family: "Press Start 2P";
  margin: 0 0 20px 0;
  letter-spacing: 2px;
}
.score-text {
  color: white;
  font-family: "Press Start 2P";
  margin: 0 0 41px 0;
  letter-spacing: 2px;
}
#statisticsCanvas {
  border: 0.2rem solid #fff;
  margin-right: 20px;
}
#gameCanvas {
  border: 0.2rem solid #fff;
}
#nextCanvas {
  border: 0.2rem solid #fff;
}
.game-alert {
  font-family: "Press Start 2P";
  text-align: center;
  width: 320px;
  height: 210px;
  position: absolute;
  background-color: BLACK;
  margin-left: 3px;
}
.gameCanvas-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.display-none {
  display: none;
}
.alert-title {
  font-size: 26px;
  color: white;
  color: rgba(0, 255, 255, 0.5);
}
.alert-score-text {
  font-size: 16px;
  color: white;
  margin: 0;
}
.alert-record {
  font-size: 14px;
  color: red;
  margin-bottom: 20px;
}
.alert-button {
  display: block;
  margin: 0 auto;
  font-family: "Press Start 2P";
  font-size: 10px;
  width: 135px;
  height: 35px;
  cursor: pointer;
  background-color: rgb(30, 153, 190);
  border: none;
}
.alert-button--mgtop {
  margin-top: 35px;
}
.alert-button:active {
  transform: scale(0.98);
}
